@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply box-border;
}

*,
*:before,
*:after {
  @apply box-border;
}

html,
body {
  @apply w-screen h-screen overflow-hidden;
}

body {
  @apply m-0 p-0;
}

textarea,
input,
div,
button {
  @apply m-0 outline-none text-sm;
}

.controls {
  @apply flex bg-primary-100 text-white p-2 gap-1;
}

input {
  @apply border-2 border-primary-700 bg-primary-100 p-2 placeholder-primary-400 accent-primary-600 shadow-sm transition-all ease-in invalid:border-error-800 invalid:bg-error-200 out-of-range:border-error-800 out-of-range:bg-error-200 hover:bg-primary-200 hover:accent-primary-700 focus:bg-primary-50 focus:outline-none disabled:border-slate-500 disabled:bg-slate-100 disabled:placeholder-slate-400;
}

button,
button[type='button'],
button[type='reset'],
button[type='submit'] input[type='button'],
input[type='submit'],
input[type='reset'] {
  @apply inline-flex text-xs items-center justify-center rounded-md px-4 py-2 transition-all ease-in whitespace-nowrap bg-primary-500 hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-200 disabled:text-primary-700 shadow-sm hover:shadow-md disabled:hover:shadow-sm disabled:cursor-not-allowed;
}

input[type='checkbox'],
input[type='radio'] {
  @apply hover:border-primary-500;
}

input[type='range'] {
  @apply h-2 w-full cursor-pointer appearance-none rounded-lg bg-primary-100;
}

input[type='submit'],
button[type='submit'] {
  @apply bg-primary-500 font-semibold text-white hover:bg-primary-600 active:bg-primary-700;
}

input[type='color'] {
  @apply h-12 p-1;
}

input[type='file']::-webkit-file-upload-button {
  @apply placeholder-error-400 accent-error-800;
}

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'] {
  @apply text-primary-900;
}

label {
  @apply font-semibold;
}

input:checked + label {
  @apply pl-2 font-semibold text-primary-900 transition-colors hover:text-primary-800;
}

select {
  @apply block w-full rounded border-2 border-purple-700 px-4 py-2 pr-8 shadow hover:bg-primary-200 hover:accent-primary-700 focus:bg-primary-50 focus:outline-none disabled:border-slate-500 disabled:bg-slate-100 disabled:placeholder-slate-400;
}

.flex > input + button {
  @apply whitespace-nowrap border-l-0;
}

.container {
  @apply flex flex-col h-full;
}

.content {
  @apply h-full flex;
}

.raw-markdown {
  @apply h-full w-1/2 p-4 overflow-scroll font-mono bg-primary-50 text-primary-900;
}

.rendered-html {
  @apply prose-sm h-full w-1/2 px-4 py-2 overflow-scroll;
}

.visually-hidden {
  @apply sr-only;
}

.drag-over {
  @apply border-2 border-dashed border-primary-500;
}

.drag-error {
  @apply border-2 border-dashed border-error-500 bg-error-100;
}
